**ASSIGNMENT 1**

SUBTRACTION

In [ ]:
a=10
b=3
dif=a-b
print(dif)

7

PRODUCT

In [ ]:
m=23
n=32
mul=m*n
print(mul)

736

DIVISION

In [ ]:
p=9
q=3

div=p//q
rem=p%q
print(div)
print(rem)

3
0

SQURING

In [ ]:
x=5
squ=x*x
print(squ)

25

SQUARE ROOT

In [ ]:

x=16
sq=x**(1/2)
print(sq)

4.0

GREATER

In [ ]:
a=5
b=6
print(max(a,b))

6

TYPE OF DATA

In [ ]:
name="MAYUR@123"
print(type(name))

<class 'str'>

LIST DATA TYPE

In [ ]:
lis=['mayur','patil']
lis1=['sky','abc']
print(type(lis))
print(type(lis1))
lis2=lis1+lis
print(lis2)
lis1.append("all is well")
print(lis1)
lis1.clear()
print(lis1)
lis3=['mayur','patil','maruti']
lis3[2]
lis3.sort()
lis3
lis1.sort
print(lis1)

<class 'list'>
<class 'list'>
['sky', 'abc', 'mayur', 'patil']
['sky', 'abc', 'all is well']
[]
[]

TUPPLE

In [ ]:
tuple1="mayur",)
print(type(tuple1))

<class 'list'>

# Python program to check if the input number is odd or even.
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number.

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 8
8 is Even

# Python program to swap two variables

In [ ]:
x = 5
y = 10

# To take inputs from the user
#x = input('Enter value of x: ')
#y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

maximum

In [ ]:
def maximum(a,b):

    if a>=b:
        return a
    else:
        return b

# Driver code
a = 2
b = 4
print(maximum(a,b))

4

DICTIONARY

In [ ]:
dictionary_1={'MAYUR':14}
dictionary_2={'KLE TECH':1}
# Adding the 2 dictionary
di_3= dictionary_1 | dictionary_2
print(di_3)
# Changing the value with help of key
dictionary_1['PATIL']=81
print(dictionary_1)

{'MAYUR': 14, 'KLE TECH': 1}
{'MAYUR': 14, 'PATIL': 81}

CHECK THE NUMBER IN LIST

In [ ]:
list1=[123,154,176,1888,2000]
number=int(input('Enter Any Number To Check It Is In The List Or Not :'))
if list1[0]==number:
  print('Entered Number Is In The List')
elif list[1]==number:
   print('Entered Number Is In The List')
elif list[2]==number:
   print('Entered Number Is In The List')
elif list[3]==number:
   print('Entered Number Is In The List')
else:
  print('Entered Number Is Not In The List')

Enter Any Number To Check It Is In The List Or Not :8
Entered Number Is In The List